{
  "presets": [
    ["env", {
      "targets": {
        "node": 4,
        "browsers": ["last 2 versions"]
      }
    }],
    "stage-3"
  ],
  "plugins": [
    "transform-flow-strip-types"
  ],
  "sourceMaps": "inline"
}
