{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": 4,
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-class-properties"
  ],
  "sourceMaps": "inline"
}
