{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "not ie 11",
            "not ie_mob 11",
            "not op_mini all",
            "not dead"
          ]
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "exclude": [
          "es.array.iterator",
          "es.array.map",
          "es.array.slice",
          "es.object.assign",
          "es.object.keys",
          "transform-typeof-symbol",
          "web.dom-collections.iterator"
        ],
        "loose": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
