{
  "presets": ["@babel/preset-env", "@babel/preset-react", "linaria/babel"],
  "plugins": [
    "./node_modules/@babel/plugin-syntax-dynamic-import/lib/index.js",
    "./node_modules/@babel/plugin-transform-object-assign/lib/index.js",
    [
      "./node_modules/@babel/plugin-proposal-decorators/lib/index.js",
      {
        "legacy": true
      }
    ],
    [
      "./node_modules/@babel/plugin-proposal-class-properties/lib/index.js",
      {
        "loose": true
      }
    ],
    "./node_modules/@babel/plugin-proposal-object-rest-spread/lib/index.js",
    "./node_modules/babel-plugin-transform-react-remove-prop-types/lib/index.js",
    [
      "./node_modules/@babel/plugin-transform-react-jsx/lib/index.js",
      {
        "pragma": "h",
        "pragmaFrag": "Fragment"
      }
    ],
    [
      "./node_modules/fast-async/plugin.js",
      {
        "spec": true
      }
    ],
    "./node_modules/babel-plugin-macros/dist/index.js"
  ]
}
