---
import CSRComponent from './csr';
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Linaria – zero-runtime CSS in JS library</title>
</head>

<CSRComponent client:only="solid-js" />
