.header_79ae24fe{position:absolute;top:0;left:0;right:0;}
.headerContainer_79ae24fe{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:space-between;-webkit-justify-content:space-between;-ms-flex-pack:space-between;justify-content:space-between;}
.logo_79ae24fe{font-weight:700;text-transform:uppercase;padding:20px 0;color:#DE2D68;}
.nav_79ae24fe{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:0;margin:0;list-style:none;}
.navLink_79ae24fe{display:block;padding:20px;text-decoration:none;color:#333;}