{
  "presets": [
    "react",
    ["@babel/preset-env", {"targets": {"browsers": ["last 2 versions"], "modules": false}}]
  ],
  "env": {
    "development": {
      "presets": ["linaria/babel"]
    },
    "server": {
      "presets": [
        ["@babel/preset-env", {"targets": {"node": 8}}],
        ["linaria/babel", {"extract": false}]
      ]
    },
    "production": {
      "presets": [
        [
          "linaria/babel",
          {"single": true, "filename": "styles.css", "outDir": "static"}
        ]
      ]
    }
  }
}
